:root {
  --themeRed:#ff6188;
  --themeOrange: #fc9867;
  --themeYellow: #ffd866;
  --themeGreen: #a9dc76;
  --themeBlue: #78dce8;
  --themePurple: #ab9df2;
  --themeBlack: #2d2a2e;
  --themeWhite: #e5e5e5;
}

@media (prefers-color-scheme: dark) {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--themeBlack);
  color: var(--themeWhite);
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

a {
  color: var(--themeBlue);
}

a:hover,
a:active {
  color: var(--themeBlack);
  background-color: var(--themeBlue);
  text-decoration: none;
  line-height: 130%;
  display: inline-block;
}

.cta-2 {
  color: var(--themeGreen);
}

.cta-3 {
  color: var(--themeOrange);
}

.cta-4 {
  color: var(--themeYellow);
}

.cta-5 {
  color: var(--themePurple);
}

.cta-6 {
  color: var(--themeRed);
}

.img {
  width: 375px;
  height: auto;
}

@media only screen and (max-width: 575px) {
  html { font-size: 12px; }
}

@media only screen and (min-width: 576px) {
  html { font-size: 14px; }
}

@media only screen and (min-width: 768px) {
  html { font-size: 16px; }
}

@media only screen and (max-width: 768px) {
  .page-width {
      padding-left: 22px;
      padding-right: 22px;
  }
}